body {
  font-family: Arial, Helvetica, sans-serif;
  
}
.userSection {
  width: 100%;
  margin: auto;
  margin-top: 5em;
}
form {
  border: 3px solid #f1f1f1;
}

button:hover {
  opacity: 0.8;
}

.footerbtn {
  width: auto;
  padding: 10px 18px;
  background-color: purple;
  text-decoration: none;
  color: white;
}

#users {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#users td,
#users th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

#users tr:nth-child(even) {
  background-color: #f2f2f2;
}

#users tr:hover {
  background-color: #ddd;
}

#users th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #04aa6d;
  color: white;
}
.button {
  border: none;
  color: white;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 4px;
}

@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .footerbtn {
    width: 100%;
  }
}
